p, input, div, button, textarea{
  font-family: 'Teko', sans-serif !important;
}
.ui.form textarea {
    resize: none;
}

body {
  background-color: #c5dee7;
}

.ui.container {
  box-sizing: border-box;
}

.ui.header {
  padding-top: 170px;
  color: #fff;
  font-size: 60px !important;
}

.ui.message {
  margin-top: 20px !important;
}

.ui .field {
  position: relative;
  font-size: 20px;
}

.ui.label {
  font-size: 18px;
  white-space: nowrap;
  position: absolute !important;
  top: 50%;
  transform: translate(0, -50%);
}
/* 
.ui.inverted.button:hover {
  color: #c5dee7;
} */

p {
  color: #fff;
  font-size: 30px;
}